[submodule "lightcrafts/dependencies"]
	path = lightcrafts/dependencies
	url = https://github.com/ktgw0316/lightzone-dependencies.git
[submodule "rawspeed"]
	path = submodules/rawspeed
	url = https://github.com/darktable-org/rawspeed.git
[submodule "LibRaw"]
	path = submodules/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "LibRaw-cmake"]
	path = submodules/LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
